body {
    text-align: center;
    background-color: black;
    background-image: linear-gradient(to bottom right, rgb(233, 6, 101), rgb(80, 4, 143), rgb(0, 238, 255));
    color: chartreuse;
    font-family: AleoRegular;
    font-size: 70px;
}

p {
    color: rgb(255, 0, 0);
}

@font-face {
    font-family: CathGrls;
    src: url(./fonts/cathgrls.TTF);
}

@font-face {
    font-family: AleoRegular;
    src: url(./fonts/Aleo-Regular.otf);
}

#blue {
    color: blue;
}

#grey {
    color: dimgray;
}

nav {
    text-align: center;
    align-items: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

#cathgrls {
    font-family: CathGrls;
}