body {
    text-align: center;
    background-color: black;
    background-image: linear-gradient(rgb(233, 6, 101), rgb(80, 4, 143), rgb(0, 238, 255));
    color: chartreuse;
    font-family: AleoRegular;
    font-size: 70px;
}

p {
    color: rgb(255, 0, 0);
}

@font-face {
    font-family: AleoRegular;
    src: url(Aleo-Regular.otf);
}

@font-face {
    font-family: sillium;
    src: url(sillium.ttf);
}

#blue {
    color: blue;
}

#grey {
    color: dimgray;
}

nav {
    text-align: center;
    align-items: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

#cathgrls {
    font-family: CathGrls;
}

#imgresize {
    width: 540;
    height: auto;
}

#sillium {
    font-family: sillium;
}

li a{
    display: block;
    color:#0a97e9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #CADBC0;
    margin-left: 45%;
    margin-right: 45%;
}